.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Package artifacts
*.egg-info/
dist/
build/
*.egg

# Other common exclusions
.DS_Store  # macOS
*.log
*.env  # Environment variables (e.g., MONGO_URI)
__pycache__/parse_data.cpython-310.pyc
.gitignore
.ssh
.ssh/
ai_credit_spreader_rsa
ai_credit_spreader_rsa.pub
credit_spreader_rsa\[Hai_
credit_spreader_rsa\[Hai_.pub
